<!DOCTYPE html>
<html lang="pt-br">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Padaria Jardins | Avaliações </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='avaliacoes_css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='avaliacoes_css/styles_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='avaliacoes_css/avaliacoes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contato_css/styles_form.css') }}">

</head>


<body>

    <nav class="navbar">
        <div class="logo">
            <h1>Padaria Jardins</h1>
        </div>
        <div class="menu">
            <a href="index.html">Home</a>
            <a href="index_sobre.html">Sobre nós</a>
            <a href="index_produtos.html">Produtos</a>
            <a href="index_contato.html">Fale Conosco</a>
            <a href="index_avaliacoes.html">Avaliações</a>
            <a href="index_portifolios.html">Devs | Portifolios</a>
        </div>
    </nav>

    <div class="conteudo">
        <div class="avaliacoes_gerais">

            <div class="form-titulo">
                <div class="title">
                    <h1 style="color: rgb(241, 173, 84);">Avaliações</h1>
                </div>
            </div>

            <h2 style="margin-bottom: 10PX;">Avalie Nosso Estabelecimento</h2>

            <ul>
                {% for nota, descricao in avaliacoes %}
                <li>
                    <strong>{{ nota }}</strong>: {{ descricao }}

                    <form action="{{ url_for('excluir_nota', nota_id=loop.index-1) }}" method="post">

                        <button type="submit">Excluir</button>

                    </form>
                </li>
                {% endfor %}
            </ul>

            <a  styles=""  href="{{ url_for('nova_avaliacao') }}"><button style="    margin-top: 20px;
                background-color: rgb(12, 119, 35);
                border: none;
                color: #fff;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                border-radius: 8px;
                transition: background-color 1s ease;">Adicionar Avaliações</button></a>

        </div>
    </div>

</body>


</html>