<!DOCTYPE html>
<html lang="pt-BR">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Padaria Jardins | Contato</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='contato_css/styles_form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_css/styles_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_css/styles_header.css') }}">
        
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Padaria Jardins</h1>
        </div>
        <div class="menu">
            <a href="index.html">Home</a>
            <a href="index_sobre.html">Sobre nós</a>
            <a href="index_produtos.html">Produtos</a>
            <a href="index_contato.html">Fale Conosco</a>
            <a href="index_avaliacoes.html">Avaliações</a>
            <a href="index_portifolios.html">Devs | Portifolios</a>
        </div>
    </nav>

    <div class="conteudo">

        <h1>Carrinho</h1>

        <ul>
            {% for item in carrinho %}
              <li>
                <input type="checkbox" name="done" {% if item['done'] %}checked{% endif %} onchange="this.form.submit()">
                <span {% if item['done'] %}style="text-decoration: line-through"{% endif %}>{{ item['task'] }}</span>
                <a href="{{ url_for('editar_index_contato', index_contato=loop.index0) }}">edit</a>
                <a href="{{ url_for('delete', index_contato=loop.index0) }}">delete</a>
              </li>
            {% endfor %}
          </ul>

        <form action="{{ url_for('add') }}" method="post">
          <input type="text" name="item">
          <button type="submit">Add</button>
        </form>

    </div>



</body>

</html>