<!doctype html>
<html lang="pt-BR">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Padaria Jardins | Bessa</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='avaliacoes_css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='avaliacoes_css/styles_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='avaliacoes_css/add_avaliacoes.css') }}">

</head>


<body>

    <!-- Inicio da Navbar-->
    <nav class="navbar">

        <div class="logo">

            <h1>Padaria Jardins</h1>

        </div>

        <div class="menu">
            <a href="index.html">Home</a>
            <a href="index_sobre.html">Sobre nós</a>
            <a href="index_produtos.html">Produtos</a>
            <a href="index_contato.html">Fale Conosco</a>
            <a href="index_avaliacoes.html">Avaliações</a>
            <a href="index_portifolios.html">Devs | Portifolios</a>

        </div>

    </nav>

    <!-- Formulario de adição da nota -->
    <div class="add_avaliacoes">

        <h2>Adicionar Nova Nota</h2>

        <form action="{{ url_for('criar_nota') }}" method="post">

            <label for="nota">Nota:</label>
            <input type="text" id="nota" name="nota" required>
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" required></textarea>

            <button type="submit">Adicionar nota</button>
        </form>
        <a href="{{ url_for('avaliacoes') }}">Voltar para as Avaliações</a>

    </div>

</body>


</html>