<!doctype html>
<html lang="pt-BR">


<head>

    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Padaria Jardins | Bessa</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='avaliacoes_css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='avaliacoes_css/styles_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='avaliacoes_css/add_avaliacoes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contato_css/styles_form.css') }}">

</head>


<body>

    <!-- Inicio da Navbar-->
    <nav class="navbar">

        <div class="logo">

            <h1>Padaria Jardins</h1>

        </div>

        <div class="menu">
            <a href="index.html">Home</a>
            <a href="index_sobre.html">Sobre nós</a>
            <a href="index_produtos.html">Produtos</a>
            <a href="index_contato.html">Fale Conosco</a>
            <a href="index_avaliacoes.html">Avaliações</a>
            <a href="index_portifolios.html">Devs | Portifolios</a>

        </div>

    </nav>

    <div class="conteudo">
        <!-- Formulario de adição da nota -->
        <div class="add_avaliacoes">

            <h2 style="border-bottom: 2px solid rgb(12, 119, 35);">Adicionar Nova Nota</h2>

            <div class="perguntas">
                <form action="{{ url_for('criar_nota') }}" method="post">

                    <label style="border-bottom: 2px solid rgb(12, 119, 35);" for="nota">Nome:</label>

                    <input type="text" id="nota" name="nota" placeholder="Digite Seu Nome" required>

                    <label style="border-bottom: 2px solid rgb(12, 119, 35);" class="caixinhas"
                        for="descricao">Descrição da Avaliação:</label>

                    <textarea class="caixinhas" type="text" name="descricao" id="descricao" cols="30" rows="4" required
                        placeholder="Digite Sua Avaliação"></textarea>

            </div>
            <div class="botoes">
                <button style="margin-top: 20px;
                background-color: rgb(12, 119, 35);
                border: none;
                color: #fff;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                border-radius: 8px;
                transition: background-color 1s ease;" type="submit">Adicionar nota</button>
                </form>
                <a href="{{ url_for('avaliacoes') }}"><button style="margin-top: 20px;
                background-color: rgb(12, 119, 35);
                border: none;
                color: #fff;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                border-radius: 8px;
                transition: background-color 1s ease;">Voltar para as avaliacoes</button></a>
            </div>
        </div>
    </div>

</body>


</html>