body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.perguntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.caixinhas {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.botoes {

    display: flex;
    flex-direction: column;


}

